[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mittens = "*"
scikit-learn = "*"
numpy = "*"
nltk = "*"
tensorflow = "*"

[dev-packages]

[requires]
python_version = "3.10"
